/* Space out content a bit */
body {
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}



/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/*Custom CSS*/

.jumbotron{
    text-align:center;
    background-color:white;
    padding-left:0px;
    padding-right:0px;
    padding-bottom: 40px;
    padding-top: 200px;
}

.nav-pills>li.active>a{
    background-color:#e8002e;
}

.nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
    background-color:#d9001d;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: #e8002e;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background-color: #e8002e;
}


.navbar .nav > li > a , #favorite, #heart {
    -webkit-transition: all ease .3s;
       -moz-transition: all ease .3s;
         -o-transition: all ease .3s;
            transition: all ease .3s;
}

.navbar .nav > li > a:hover {
    background-color: #e8002e;
    color: #fff;
}

/*Resizes navbar*/
.navbar-nav > li > a, .navbar-brand {
    height: 40px;
    padding-top:10px;
}
.navbar {
    min-height:40px;
    line-height: 0px;
}

a.btn{
    background-color:#e8002e;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger {
    color: white;
    background-color: #d9001d;;
}

.output{
    margin-bottom: 20px;
    border-radius: 8px;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
    padding:30px;
    padding-bottom: 60px;
    color:#d9001d;
    -webkit-box-shadow: inset -1px -1px 54px -2px rgba(240,240,240,1);
    -moz-box-shadow: inset -1px -1px 54px -2px rgba(240,240,240,1);
    box-shadow: inset -1px -1px 54px -2px rgba(240,240,240,1);
}

#map{
	height: 400px;
}

.adp-directions{
	width: 100%;
}


#image{
    border-radius:8px;
    float:right;
	  margin-top: 20px;
}

#rating {
    height: 30px;
}

#review_count{
	margin:10px;
}

#price_green{
	color:darkgreen;
	font-weight: bold;
}

#price_gray{
	color:darkgray;
}

#restaurant-desc{
    text-align: left;
    color:black;
		padding-top: 20px;
}

/*Change glow of input to red*/
.form-control:focus{
  border-color: #e8002e;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);    
}
li a:focus {
    outline: .1px solid #e8002e;
}

a{color:black;}

/* Customize container */
.container-narrow > hr {
  margin: 30px 0;
}

#yelpicon{
    float:right;
    margin-top:-12px;
}

#see-more img{
    margin-top: -7px;
}

#favorite{
    font-size:14px;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:10px;

}

#heart{
    padding-top:2px;
    margin-left:3px;
    color:#e8002e;
    float:none !important;
}

#favorite:hover, .clickedFav{
    color:white !important;
    background-color:#e8002e !important;
}

#favorite:hover #heart, .clickedHeart{
    color:white !important;
}

a:hover{
    text-decoration: none;
}

/*Skipped List Modal, excluded list modal */
#skipped, #excluded {
	text-align: center;
}

button#gps, button#filter{
    padding: 7px;
    margin: 0px;
    font-size: small;
    border-radius: 0px;
    border:.1px white solid;
    border-left:none;
    background-color:#e8002e;
    color:white;
}

#filter{
  width:70px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#filter-price .form-check-inline{
  display: inline-block;
}

/* Text in about modal */
#about_description {
	margin: 30px;
}

#about_modal .modal-dialog.modal-sm {
    width: 500px;
}

.close-modal {
    -webkit-transition: all ease .3s;
       -moz-transition: all ease .3s;
         -o-transition: all ease .3s;
            transition: all ease .3s;
}

.close-modal:hover {
    background-color: #e8002e;
    color: #fff;
}

/*css for filter*/
div#filter-dropdown {
    min-width: 300px;
    max-width: 400px;
    padding: 20px;
    font-size: 8pt;
    font-weight: normal;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .container {
    max-width: 730px;
  }
  .container .jumbotron, .container-fluid .jumbotron {
    padding-right: 0px;
    padding-left: 0px;
  }
  
  /*to center nav li elements*/
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
  }
  
  .navbar .navbar-collapse {
      text-align: center;
      height: initial !important;
  }
}

/*css for smaller screen like tablet*/
@media screen and (max-width:700px) and (min-width:400px){
    #image{
        float:none;
    }
    #restaurant-desc{
        text-align: center;
    }
}

/*Css for Mobile*/
@media screen and (max-width:400px){
    .jumbotron img.img-responsive.center-block{
      margin-top:-50px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .container .jumbotron, .container-fluid .jumbotron, .jumbotron div.col-sm-12{
      padding-right: 0px !important;
      padding-left: 0px !important;
    }
    .jumbotron .output{
      margin-right: 0px;
      margin-left: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }
    .output.collapse.in{
      margin:0px;
      margin-top: -30px;
      padding: 0px;
    }
    #image{
      margin: -20px;
      width: 100%;
      float: none;
      height: 200px;
      object-fit: cover;
    }
    h4{
      font-size: 12px;
      margin:5px;
    }
    #rating{
      height:20px;
    }
    #address{
      margin-bottom:20px;
    }
    #search{
      position: fixed;
      bottom: 5%;
      left: 50%;
      margin-left: -60px;
      border-radius: 500px;
      z-index: 999999;
      width: 120px;
      font-size: 13px;
    }
    #name{
      font-size: 20px;
    }
    p.text-muted{
      display:none;
    }
    button#filter{
        width: 30px;
        font-size: 0px;
        height: 33px;
    }
    .nav-tabs>li>a{
        font-size: 12px;
    }
    #restaurant-desc, #viewskipped, #viewexcluded{
        text-align: center;
        font-size: 12px;
    }
}