/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}



/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/*Custom CSS*/

.jumbotron{
    text-align:center;
}

#location{
    margin-top:40px;
    margin-bottom:20px;
}

.nav-pills>li.active>a{
    background-color:#e8002e;
}

.nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
    background-color:#d9001d;
}

a.btn{
    background-color:#e8002e;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger {
    color: white;
    background-color: #d9001d;;
}

#output{
    background-color:#d9001d;
    border-radius:10px;
    padding:50px;
    color:white;
/*
    white-space: pre;
    overflow: scroll;
*/
}

/*Change glow of input to red*/
.form-control:focus{
  border-color: #e8002e;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
      

}
li a:focus {
    outline: .1px solid #e8002e;
    border-radius: 5px;
}

a{color:black;}

/* Customize container */
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .container {
    max-width: 730px;
  }
}
@media screen and (max-width:768px){
    #brand{
        display: none;
    }
}